<nav class="nav-extended enruedate_blue_color z-depth-0">
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li ng-click="changeTab($event, 1)" ng-class="activeTab1" class="tab"><a id="tab1" href="#">Top</a></li>
			<li ng-click="changeTab($event, 2)" ng-class="activeTab2" class="tab"><a id="tab2" href="#">Detalle</a>
			</li>
		</ul>
	</div>
</nav>
<nav class="tab_bg_active z-depth-0" ng-show="!showTab">
	<div class="nav-wrapper">
		<form>
			<div class="input-field">
				<input id="search" type="search" ng-model="search.participante" placeholder="Buscar participante..." required>
				<label class="label-icon" for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
	</div>
</nav>

<h5 class="center teal-text row">{{currentCategory}}</h5>


<div class="container" ng-show="showTab">
	<table class="responsive-table">
		<thead>
			<tr ng-repeat="value in header" ng-if="value">
				<th class="teal-text" style="font-size: larger;">{{value.participante}}</th>
				<th class="teal-text" style="font-size: larger;">{{value.academia}}</th>
				<th class="teal-text" style="font-size: xx-large;">{{value.total}}</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="value in top | limitTo: 5" ng-if="value">				
				<td style="font-size: larger;">{{value.participante}}</td>
				<td style="font-size: larger;">{{value.academia}}</td>				
				<td class="teal-text center" style="font-size: xx-large;">{{value.total}}</td>
			</tr>
		</tbody>
	</table>
</div>

<table class="responsive-table" ng-show="!showTab">
	<thead>
		<tr ng-repeat="value in header" ng-if="value">
			<th class="teal-text left-align">{{value.participante}}</th>
			<th class="teal-text">{{value.academia}}</th>
			<th class="teal-text" style="font-size: xx-large;">{{value.total}}</th>
			<th>{{value.item_1}}</th>
			<th>{{value.item_2}}</th>
			<th>{{value.item_3}}</th>
			<th>{{value.item_4}}</th>
			<th>{{value.item_5}}</th>
			<th>{{value.item_6}}</th>
			<th>{{value.item_7}}</th>
			<th>{{value.item_8}}</th>
			<th>{{value.item_9}}</th>
			<th>{{value.item_10}}</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="value in top | filter:search" ng-if="value">
			<td class="teal-text">{{value.participante}}</td>
			<td class="teal-text">{{value.academia}}</td>
			<td class="teal-text" style="font-size: xx-large;">{{value.total}}</td>
			<td>{{value.item_1}}</td>
			<td>{{value.item_2}}</td>
			<td>{{value.item_3}}</td>
			<td>{{value.item_4}}</td>
			<td>{{value.item_5}}</td>
			<td>{{value.item_6}}</td>
			<td>{{value.item_7}}</td>
			<td>{{value.item_8}}</td>
			<td>{{value.item_9}}</td>
			<td>{{value.item_10}}</td>
		</tr>
	</tbody>
</table>


<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light" ng-click="goBack()"><i
			class="material-icons small">arrow_back</i></a>
</div>


<!-- <footer class="page-footer enruedate_blue_color">
	<div class="footer-copyright">
		<div class="container">
			<span class="grey-text text-lighten-4 right" ng-click="goBack()" >Atrás</span>
		</div>
	</div>
</footer> -->

<!-- <div class=" table-fixed">
			<div class="col s12" ng-repeat="(key, value) in top">
				<p ng-if="$index < 10" class="col s3" style="text-align: center;">{{value.participante}}</p>
				<p ng-if="$index < 10" class="col s3" style="text-align: center;">{{value.academia}} </p>
				<p ng-if="$index < 10 && value.participante" class="col s1" style="float: left;">{{value.subTotal}} </p>
				<p ng-if="$index < 10 && showHiddenItem && value.participante" class="col s1" style="float: left;">
					{{value.oculto}} </p>
				<p ng-if="$index < 10 && !showHiddenItem && value.participante" class="col s1" style="text-align: left;">?
				</p>
				<p ng-if="$index < 10 && !showHiddenItem && value.participante" class="col s1" style="text-align: left;">?
				</p>
				<p ng-if="$index < 10 && showHiddenItem && value.participante" class="col s1" style="text-align: left;">
					{{value.total}} </d>
			</div>
		</div> -->
<!-- <button class="waves-effect waves-light btn" ng-click="goBack()">Atrás</button> -->