@font-face {
	font-family: 'Roboto-Regular';
	src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

/* 
Green : #b4ff00
Blue:04337e 
*/
html,
body {
	height: 100%;

}

body {

	font-family: 'Roboto-Regular';
	font-weight: normal;
	font-style: normal;
	background-image: url("/assets/image/bg_general.webp");
	background-color: #cccccc;
	background-size: cover;
}

table {
	font-size: large
}

.home_bg {

	background-image: url("/assets/image/portada-Enruedate-2019.webp");
	background-size: cover;
	height: 100%;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	background-repeat: no-repeat;
}

.enruedate_bg {

	background-image: url('/assets/image/fondo-Enruedate-2019.webp');
	background-size: cover;
	height: 100%;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	background-repeat: no-repeat;
}

.custom_center_position {
	position: absolute;
	top: 45%
}

.enruedate_green_color {
	background-color: #b4ff00;
}

.enruedate_blue_color {
	background-color: #04337e;
}

.tab_bg_active {

	background-color: #0c408c
}

.margins-top-bottom {
	margin: 1rem 0 0 0;
}

@media only screen and (max-width: 600px){

	th{
		text-align: left;
	}
  }