<nav class="nav-extended enruedate_blue_color">
	<div class="nav-wrapper">
		<div class="row">
			<div class="col s2 m1">
				<img src="/assets/image/logo_enruedate.png" class="responsive-img margins-top-bottom" alt="">
			</div>
			<div class="col s9 m11 hide-on-med-and-up">
				<ul id="nav-mobile" class="right">
					<!-- <li>Categorias</li> -->
					<!-- <li><a href="collapsible.html">JavaScript</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</nav>
<h5 class="center teal-text">{{currentCategory}}</h5>


<div class="container" ng-show="!showCategory">
	<h5 class="center teal-text">Seleccione la categoría</h5>
	<div class="row contest-loader">
		<div class="col s12">
			<div class="progress">
				<div class="indeterminate green accent-3" ng-if="state.isModified"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m6 s12" ng-repeat="sheetName in state.sheetsNames"
			ng-click="goToTop($index, sheetName, state.sheets[$index])">
			<div class="card-panel large blue accent-3">
				<!-- <div class="card-content "> -->
				<span class="card-title white-text">{{sheetName}}</span>
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>
<div ng-include ng-show="showCategory" src="'/pages/top/top_template.html'"></div>